<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>listener.ApplicationListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>Web</servlet-name>
    <servlet-class>servlet.UserMrgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Web</servlet-name>
    <url-pattern>/userMrg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClassMrgServlet</servlet-name>
    <servlet-class>servlet.ClassMrgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassMrgServlet</servlet-name>
    <url-pattern>/clsMrg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidLogServlet</display-name>
    <servlet-name>ValidLogServlet</servlet-name>
    <servlet-class>servlet.ValidLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidLogServlet</servlet-name>
    <url-pattern>/ValidLogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DictMrgServlet</display-name>
    <servlet-name>DictMrgServlet</servlet-name>
    <servlet-class>servlet.DictMrgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DictMrgServlet</servlet-name>
    <url-pattern>/DictMrgServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>FileMrgServlet</display-name>
    <servlet-name>FileMrgServlet</servlet-name>
    <servlet-class>servlet.FileMrgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileMrgServlet</servlet-name>
    <url-pattern>/FileMrgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QusetionMrgServlet</display-name>
    <servlet-name>QusetionMrgServlet</servlet-name>
    <servlet-class>servlet.QusetionMrgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QusetionMrgServlet</servlet-name>
    <url-pattern>/QusetionMrgServlet</url-pattern>
  </servlet-mapping>
</web-app>